.card-container{
    width: 22.87rem;
    background-color: var(--white);
    box-shadow: var(--dark-grey) 0px 5px 15px;
    color: var(--very-dark-blue-light-mode);
}
.card-container-dark{
    background-color: var(--dark-blue);
    color: var(--white);
    box-shadow: var(--very-dark-blue-light-mode) 0px 5px 15px;
}
.card-container img{
    width: 100%;
    height: 15rem;
    object-fit: fill;
}
.country-name{
    font-size: 2rem;
    font-weight: 800;
    padding: 1rem 2rem;
}
.country-details{
    padding: 0rem 2rem 3rem;
    font-weight: 300;
    font-size: 1.4rem;
}
span{
    font-weight: 600;
}
