.search-container{
    margin-top: 8rem;
    display: flex;
    padding: 3rem 1.5rem;
    flex-wrap: wrap;
    gap: 2rem;
}
.input-bar{
    background-color: var(--white);
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-grey);
    box-shadow: var(--dark-grey) 0px 2px 10px;
    border-radius: .5rem;
}
.search-container-dark .input-bar{
    background-color: var(--dark-blue);
    color: var(--white);
    box-shadow: var(--very-dark-blue-light-mode) 0px 2px 10px;
}
.input-bar input{
    color: var(--very-dark-blue-light-mode);
    border: none;
    outline: none;
    font-size: 1.4rem;
}
.search-container-dark input{
    background-color: var(--dark-blue);
    color: var(--white);
}
.drop-down-container select{
    background-color: var(--white);
    color: var(--very-dark-blue-light-mode);
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 1.5rem;
    border-radius: .5rem;
    box-shadow: var(--dark-grey) 0px 2px 10px;
}
.search-container-dark select{
    background-color: var(--dark-blue);
    color: var(--white);
    box-shadow: var(--very-dark-blue-light-mode) 0px 2px 10px;
}
.options{
    font-size: 1.5rem;
    background-color:var(--white);
    border: none;
}
.search-container-dark option{
    background-color: var(--dark-blue);
}
@media(min-width:600px){
    .search-container{
        justify-content: space-evenly ;
    }
}
